/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
/vendor/
app/Vendor/phpqrcode/
public/deploy_gitlab.php
/public/laravel-excel*
/app/Vendor/phpqrcode/cache
phpliteadmin.php
db.sqlite
laravel-excel-*
/tests/coverage
